binds {
  Mod+Shift+M { quit skip-confirmation=true; }
  Mod+Q { close-window; }
  Alt+F4 { close-window; }
  Mod+O { toggle-overview; }
  Mod+Shift+P { power-off-monitors; }
  Mod+Alt+P repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }
  Mod+Ctrl+Shift+P repeat=false { spawn-sh "scrcpy"; }

  // Windows
  Mod+H { focus-column-left; }
  Mod+J { focus-window-down; }
  Mod+K { focus-window-up; }
  Mod+L { focus-column-right; }
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down; }
  Mod+Shift+K { move-window-up; }
  Mod+Shift+L { move-column-right; }
  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+BracketLeft { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  Mod+Comma { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+W { toggle-column-tabbed-display; }
  Mod+Ctrl+F { toggle-window-floating; }
  Mod+Shift+F { maximize-column; }
  Mod+Shift+V { expand-column-to-available-width; }
  F11 { fullscreen-window; }

  // Workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }


  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+E { focus-workspace-down; }
  Mod+R { focus-workspace-up; }
  Mod+Shift+E { move-column-to-workspace-down; }
  Mod+Shift+R { move-column-to-workspace-up; }


  // Apps
  Mod+T { spawn "kitty"; }
  Mod+Shift+T { spawn "ghostty"; }
  // Mod+F cooldown-ms=500 { spawn-sh "MOZ_ENABLE_WAYLAND=0 MOZ_USE_XINPUT2=1 firefox"; }
  Mod+F cooldown-ms=500 { spawn "firefox"; }
  Mod+N cooldown-ms=500 { spawn "nemo"; }
  Mod+Shift+N cooldown-ms=500 { spawn "nautilus"; }
  Mod+Ctrl+V cooldown-ms=500 { spawn-sh "killall vicinae-server && vicinae server"; }

  // Fn Keys
  XF86AudioRaiseVolume { spawn-sh "wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 5%+"; }
  XF86AudioLowerVolume { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
  XF86AudioMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86MonBrightnessUp { spawn-sh "brightnessctl set +10%"; }
  XF86MonBrightnessDown { spawn-sh "brightnessctl set 10%-"; }

  // Screenshot
  Mod+Shift+S { spawn-sh "flameshot gui"; }
  Print { screenshot show-pointer=false; }
  Ctrl+Print { screenshot-screen show-pointer=false; }
  Alt+Print { screenshot-window; }

  // Misc
  Ctrl+Alt+W { spawn "waybar"; }
  Ctrl+Shift+Escape { spawn-sh "killall waybar"; }

  Mod+Alt+L allow-inhibiting=false { spawn-sh "qs ipc call session lock"; }
  Ctrl+Alt+Delete allow-inhibiting=false { spawn-sh "qs ipc call session lock"; }
  Mod+P { spawn-sh "qs ipc call session togglePowerMenu"; }
  Mod+U { spawn-sh "qs ipc call dashboard toggle"; }
  Mod+Shift+U { spawn-sh "qs ipc call volume toggle"; }
  Mod+Alt+U { spawn-sh "qs ipc call battery toggle"; }

  // Vicinae
  Mod+Space repeat=false { spawn-sh "vicinae toggle"; }
  Mod+V repeat=false { spawn-sh "vicinae vicinae://launch/clipboard/history"; }
  Mod+Semicolon repeat=false { spawn-sh "vicinae vicinae://launch/core/search-emojis"; }
  Mod+Apostrophe repeat=false { spawn-sh "vicinae vicinae://launch/@mmazzarolo/store.raycast.unicode-symbols/index"; }

  Mod+Shift+C { spawn-sh "hyprpicker -a"; }
}
